@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap");
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Red Hat Display", sans-serif;
    background-image: url(images/pattern-background-desktop.svg);
    width: 100%;
    background-position: top;
    background-repeat: no-repeat;
    background-size: contain;
    background-color: hsl(225, 100%, 94%);
}

p {
    font-size: 1rem;
    font-weight: 500;
    letter-spacing: 0.06rem;
    color: hsl(224, 23%, 55%);
}

h1 {
    font-size: 2rem;
    font-weight: 900;
    padding-bottom: 20px;
    color: hsl(223, 47%, 23%);
}

h2 {
    font-size: 1.125rem;
    font-weight: 900;
    padding-bottom: 5px;
    letter-spacing: -0.04rem;
    color: hsl(223, 47%, 23%);
}

.container {
    display: grid;
    grid-template-columns: minmax(2px, auto) minmax(295px, 450px) minmax( 2px, auto);
    grid-gap: 20px;
}

.content {
    display: grid;
    grid-template-rows: auto 200px 90px 90px 90px;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: 20px;
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.1);
}

.headerImage>img {
    border-radius: 20px 20px 0 0;
    width: 100%;
}

.summary {
    text-align: center;
    padding: 40px;
}

.summary>p {
    line-height: 1.5rem;
}

.plan {
    display: flex;
    margin: 0 40px;
    border-radius: 20px;
    align-items: center;
    background-color: hsl(225, 100%, 98%);
}

.plan>img {
    flex: inherit;
    padding: 20px;
}

.plan>.rate {
    flex: 2;
}

.plan>a {
    flex: 1;
    font-weight: 700;
}

.payment {
    display: flex;
    justify-content: space-around;
}

.payment>button {
    display: block;
    background-color: hsl(245, 75%, 52%);
    border: none;
    border-radius: 10px;
    color: white;
    width: 340px;
    padding: 20px 0;
    text-align: center;
    text-decoration: none;
    letter-spacing: 0.06rem;
    font-weight: 700;
    font-size: 16px;
    cursor: pointer;
    margin: 5px;
    box-shadow: 0px 15px 15px hsla(222, 17%, 19%, 0.233);
}

.cancel {
    grid-row: 5 / 6;
    text-align: center;
    margin-bottom: 30px;
}

.cancel>a {
    text-decoration: none;
    font-weight: 700;
    color: hsl(224, 23%, 55%);
}

.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

@media screen and (max-device-width: 375px) {
    body {
        background-image: url("images/pattern-background-mobile.svg");
    }
    .payment>button {
        width: 240px;
    }
}